@model LoginViewModel
@{
    ViewData["Title"] = "Index";
}

<style>
    .btn-pastel-blue {
        background-color: #7ec8e3;
        color: white;
        border: none;
    }

        .btn-pastel-blue:hover {
            background-color: #64b3d6;
        }

    .btn-pastel-pink {
        background-color: #d8a7ca;
        color: white;
        border: none;
    }

        .btn-pastel-pink:hover {
            background-color: #c690b8;
        }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Giriş Yap</h3>
                    <br />
                    <form method="post">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input type="email" asp-for="Email" class="form-control" placeholder="Email giriniz" required />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Şifre</label>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Şifrenizi giriniz" required />
                        </div>

                        <div class="mb-3 text-center text-danger">
                            @Html.ValidationSummary()
                        </div>

                        <div class="d-grid mb-2">
    <button type="submit" class="btn btn-pastel-blue btn-block">Giriş Yap</button>
</div>

<div class="d-grid">
    <a href="/Register/Signup" class="btn btn-pastel-pink btn-block">Kayıt Ol</a>
</div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
